.platinumContainer {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.platinumContainer .phoneBg{
  background: transparent;
  width: 250px;
  height: 500px;
  position: fixed;
}


.platinumContainer .div {
  box-shadow: 1px 12px 20px 1px rgba(0, 0, 0, 0.3);
  position: fixed;
  background-color: #ffffff;
  transform: scale(0.53) translate(-0%, -42%);
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 55px 55px 40px 40px;
  width: 414px;
  height: 896px;
}

.platinumContainer .overlap {
  width: 415px;
  height: 896px;
  left: -1px;
  position: absolute;
  top: 0;
}

.platinumContainer .rectangle {
  position: absolute;
  width: 414px;
  height: 896px;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgb(225.25, 238.89, 255) 0%, rgba(233, 236, 242, 0) 100%);
}

.platinumContainer .iphone-SE {
  position: absolute;
  width: 375px;
  height: 20px;
  top: 15px;
  left: 20px;
}

.platinumContainer .time {
  position: absolute;
  top: 2px;
  left: 163px;
  font-family: "SF Pro Text-Semibold", Helvetica;
  font-weight: 400;
  color: var(--systemblack);
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.platinumContainer .right-side {
  position: absolute;
  width: 92px;
  height: 16px;
  top: 3px;
  left: 279px;
}

.platinumContainer .icon-battery {
  position: absolute;
  width: 26px;
  height: 12px;
  top: 2px;
  left: 64px;
}

.platinumContainer .overlap-group {
  width: 24px;
  height: 12px;
  left: 0;
  background-image: url(https://c.animaapp.com/izv1LLfW/img/body-2.svg);
  background-size: 100% 100%;
  position: absolute;
  top: 0;
}

.platinumContainer .reserve {
  position: absolute;
  width: 20px;
  height: 8px;
  top: 2px;
  left: 2px;
}

.platinumContainer .terminal {
  position: absolute;
  width: 2px;
  height: 5px;
  top: 3px;
  left: 25px;
}

.platinumContainer .text-wrapper {
  top: 0;
  left: 29px;
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 400;
  color: var(--systemblack);
  font-size: 12px;
  text-align: right;
  line-height: 16px;
  position: absolute;
  letter-spacing: 0;
  white-space: nowrap;
}

.platinumContainer .icon-alarm {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 0;
  left: 0;
}

.platinumContainer .alarm {
  position: absolute;
  width: 10px;
  height: 9px;
  top: 2px;
  left: 2px;
}

.platinumContainer .icon-bluetooth {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 0;
  left: 15px;
}

.platinumContainer .bluetooth {
  position: absolute;
  width: 7px;
  height: 12px;
  top: 1px;
  left: 3px;
}

.platinumContainer .left-side {
  display: inline-flex;
  align-items: flex-start;
  gap: 4px;
  position: absolute;
  top: 3px;
  left: 4px;
}

.platinumContainer .icon-signal {
  position: relative;
  width: 21px;
  height: 14px;
}

.platinumContainer .empty-bar {
  position: absolute;
  width: 3px;
  height: 10px;
  top: 2px;
  left: 16px;
}

.platinumContainer .full-bars {
  position: absolute;
  width: 12px;
  height: 8px;
  top: 4px;
  left: 2px;
}

.platinumContainer .carrier {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "SF Pro Text-Regular", Helvetica;
  font-weight: 400;
  color: var(--systemblack);
  font-size: 12px;
  letter-spacing: -0.05px;
  line-height: 16px;
  white-space: nowrap;
}

.platinumContainer .icon-wifi {
  position: relative;
  width: 15px;
  height: 14px;
}

.platinumContainer .wi-fi {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 2px;
  left: 0;
}
.brandNameContainer{
  position: fixed;
  top: 160px;
  left: 220px;
}

.platinumContainer .text-wrapper-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: transparent;
  font-size: 47px;
  letter-spacing: 0;
  line-height: 47px;
  white-space: nowrap;
}

.platinumContainer .ic-baseline-battery {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 426px;
  left: 164px;
}

.platinumContainer .text-wrapper-3 {
  top: 429px;
  left: 131px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: var(--x-383737);
  font-size: 16.5px;
  line-height: 16.5px;
  position: absolute;
  letter-spacing: 0;
  white-space: nowrap;
}

.platinumContainer .text-wrapper-4 {
  top: 429px;
  left: 194px;
  color: var(--x-383737);
  font-size: 16.5px;
  line-height: 16.5px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  white-space: nowrap;
}

.platinumContainer .text-wrapper-5 {
  position: absolute;
  width: 113px;
  top: 430px;
  left: 249px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--x-383737);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18.2px;
  white-space: nowrap;
}

.platinumContainer .ic-baseline-eco {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 463px;
  left: 222px;
}

.platinumContainer .rectangle-2 {
  position: absolute;
  width: 282px;
  height: 55px;
  top: 501px;
  left: 67px;
  background-color: #ffffff;
  border-radius: 63px;
  box-shadow: 0px 0px 13px #56565614;
}

.platinumContainer .text-wrapper-6 {
  position: absolute;
  width: 178px;
  top: 515px;
  left: 108px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #89969f;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 23.4px;
  white-space: nowrap;
}

.platinumContainer .ic-round-bluetooth {
  position: absolute;
  width: 21px;
  height: 21px;
  top: 517px;
  left: 80px;
}

.platinumContainer .text-wrapper-7 {
  position: absolute;
  width: 135px;
  top: 463px;
  left: 248px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--x-383737);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18.2px;
  white-space: nowrap;
}

.platinumContainer .rectangle-3 {
  position: absolute;
  width: 414px;
  height: 84px;
  top: 812px;
  left: 1px;
  background-color: #ffffff;
  border-radius: 25px 25px 24px 26px;
  box-shadow: 1px 5px 45px #0175fe5e;
}

.platinumContainer .material-symbols {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 841px;
  left: 357px;
}

.platinumContainer .ic-baseline-map {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 844px;
  left: 285px;
}

.platinumContainer .img {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 841px;
  left: 202px;
}

.platinumContainer .ic-outline-electric {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 841px;
  left: 111px;
}

.platinumContainer .rectangle-4 {
  position: absolute;
  width: 51px;
  height: 51px;
  top: 830px;
  left: 20px;
  /* background-color: #1fa3ff; */
  border-radius: 10px;
}

.platinumContainer .vector {
  position: absolute;
  width: 20px;
  height: 22px;
  top: 844px;
  left: 36px;
}

.platinumContainer .ic-baseline-info {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 426px;
  left: 286px;
}

.platinumContainer .ph-dots-three {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 62px;
  left: 375px;
}

.platinumContainer .text-wrapper-8 {
  top: 463px;
  left: 139px;
  color: var(--x-383737);
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  white-space: nowrap;
}

.platinumContainer .text-wrapper-9 {
  position: absolute;
  width: 51px;
  top: 462px;
  left: 89px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--x-383737);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18.2px;
  white-space: nowrap;
}

.platinumContainer .group {
  position: absolute;
  width: 85px;
  height: 55px;
  top: 501px;
  left: 264px;
  background-color: #0175fe;
  border-radius: 63px;
}

.platinumContainer .text-wrapper-10 {
  position: absolute;
  width: 44px;
  top: 514px;
  left: 287px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20.5px;
  letter-spacing: 0;
  line-height: 26.7px;
  white-space: nowrap;
}

.platinumContainer .avatar {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 54px;
  left: 23px;
  border-radius: 147.62px;
  overflow: hidden;
  border: 1.48px solid;
  border-color: var(--system-background-light-primary);
}

.platinumContainer .photo {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.platinumContainer .text-wrapper-11 {
  position: absolute;
  font-size: 47px;
  top: 54px;
  left: 75px;
  font-style: normal;
  font-family: "Inter", "Roboto",sans-serif;
  font-weight: 600;
  color: var(--x-383737);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.platinumContainer .text-wrapper-12 {
  position: absolute;
  width: 134px;
  top: 80px;
  left: 96px;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  color: var(--x-383737);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18.2px;
  white-space: nowrap;
}

.platinumContainer .ic-round-bluetooth-2 {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 81px;
  left: 72px;
}

.platinumContainer .figure {
  position: absolute;
  width: 354px;
  height: 230px;
  top: 183px;
  left: 35px;
  object-fit: fill;
}

.platinumContainer .text-wrapper-13 {
  position: absolute;
  width: 137px;
  top: 591px;
  left: 179px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--x-383737);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18.2px;
  white-space: nowrap;
}

.platinumContainer .vector-2 {
  position: absolute;
  width: 11px;
  height: 5px;
  top: 444px;
  left: 172px;
}

.platinumContainer .vector-3 {
  position: absolute;
  width: 11px;
  height: 16px;
  top: 428px;
  left: 172px;
}

.platinumContainer .rectangle-5 {
  position: absolute;
  width: 282px;
  height: 55px;
  top: 501px;
  left: 67px;
  background-color: #ffffff;
  border-radius: 11px;
  box-shadow: 0px 0px 13px #56565614;
}

.platinumContainer .vector-4 {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 427px;
  left: 287px;
}

.platinumContainer .group-2 {
  position: absolute;
  width: 85px;
  height: 55px;
  top: 501px;
  left: 264px;
  /* background-color: #1fa3ff; */
  border-radius: 11px;
}

.platinumContainer .rectangle-6 {
  position: absolute;
  width: 268px;
  height: 30px;
  top: 585px;
  left: 75px;
  background-color: #ffffff;
  border-radius: 18px;
  box-shadow: 0px 0px 4px #92929240;
}

.platinumContainer .text-wrapper-14 {
  position: absolute;
  width: 122px;
  top: 590px;
  left: 86px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #89969f;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18.2px;
  white-space: nowrap;
}

.platinumContainer .text-wrapper-15 {
  position: absolute;
  width: 137px;
  top: 590px;
  left: 196px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: var(--x-383737);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18.2px;
  white-space: nowrap;
}

.platinumContainer .rectangle-7 {
  position: absolute;
  width: 111px;
  height: 127px;
  top: 645px;
  left: 152px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 9px 8px #9a9a9a40;
}

.platinumContainer .mask-group {
  position: absolute;
  width: 111px;
  height: 127px;
  top: 645px;
  left: 152px;
}

.platinumContainer .rectangle-8 {
  position: absolute;
  width: 111px;
  height: 127px;
  top: 645px;
  left: 285px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 9px 8px #9a9a9a40;
}

.platinumContainer .mask-group-2 {
  left: 285px;
  position: absolute;
  width: 111px;
  height: 127px;
  top: 645px;
}

.platinumContainer .rectangle-9 {
  position: absolute;
  width: 111px;
  height: 127px;
  top: 645px;
  left: 21px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 9px 8px #9a9a9a40;
}

.platinumContainer .mask-group-3 {
  left: 21px;
  position: absolute;
  width: 111px;
  height: 127px;
  top: 645px;
}

.platinumContainer .text-wrapper-16 {
  position: absolute;
  top: 733px;
  left: 175px;
  transform: rotate(0.34deg);
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #1e293b;
  font-size: 18.5px;
  letter-spacing: 0;
  line-height: 18.5px;
  white-space: nowrap;
}

.platinumContainer .text-wrapper-17 {
  position: absolute;
  top: 696px;
  left: 182px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: var(--x-383737);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.platinumContainer .ic-round-directions {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 657px;
  left: 195px;
}

.platinumContainer .group-3 {
  position: absolute;
  width: 70px;
  height: 102px;
  top: 651px;
  left: 312px;
}

.platinumContainer .text-wrapper-18 {
  top: 81px;
  left: 0;
  transform: rotate(0.34deg);
  color: #1e293b;
  font-size: 21px;
  line-height: 21px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  white-space: nowrap;
}

.platinumContainer .text-wrapper-19 {
  position: absolute;
  top: 47px;
  left: 7px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: var(--x-383737);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.platinumContainer .ic-round-directions-2 {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 0;
  left: 14px;
}

.platinumContainer .group-4 {
  position: absolute;
  width: 70px;
  height: 103px;
  top: 650px;
  left: 44px;
}

.platinumContainer .text-wrapper-20 {
  top: 82px;
  left: 0;
  transform: rotate(0.34deg);
  color: #1e293b;
  font-size: 21px;
  line-height: 21px;
  position: absolute;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  letter-spacing: 0;
  white-space: nowrap;
}

.platinumContainer .text-wrapper-21 {
  position: absolute;
  top: 48px;
  left: 18px;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: var(--x-383737);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.platinumContainer .ic-baseline-eco-2 {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 0;
  left: 15px;
}

.platinumContainer .cib-facebook-f {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 2768px;
  left: -3227px;
}
