*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  outline: none;
  transition: 0.3s ease all;
}
/* fix dropdown width */

/* html{
  height: 100vh;
  overflow: hidden;
} */
html{
  overflow-y: scroll;
  font-family: 'Inter',sans-serif;
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.app{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  /* align-items:flex-start; */
  background-color: #fff;
  /* border-radius: "30px"; */
}
.appHomeScreen{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  /* background-color: #fff; */
}